{% extends 'common.html' %}
{% block title %}Buy Properties{% endblock %}
{% block content %}
  <div class="container py-5">
    <h2 class="mb-4">Buy Properties</h2>
    <div class="row">
       {% for property in properties %}
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm " style="border: 3px solid lightgray;">
            {% if property.images.all %}
              <img src="{{ property.images.all.0.image.url }}" class="img rounded " style="height: 200px; object-fit: cover;" alt="Property Image" />
            {% else %}
              <img src="https://via.placeholder.com/400x300?text=No+Image" class="img-fluid rounded" alt="No image available" />
            {% endif %}
            <div class="card-body">
              <h6 class="card-title"><strong>Property_Type: </strong>{{ property.property_type }}</h6>
              <p class="card-text mb-0">
                <strong>Price:</strong>₹{{ property.price }}
              </p>
              <p class="card-text mt-0">
                <strong>Location:</strong> {{ property.location.name }}
              </p>
              <div class="d-flex justify-content-between">
                <p>
                  <strong>Posted By:</strong>
                  {% if property.posted_by %}
                    {{ property.posted_by.username }}
                  {% else %}
                    Admin
                  {% endif %}
                </p>
                <p>{{ property.posted_on|timesince }} ago</p>
              </div>
              <a href="{% url 'property_detail' property.pk %}" class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-muted">No properties available for buying at the moment.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
