{% extends "common.html" %}
{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Edit Lease</h2>

  <form method="POST" enctype="multipart/form-data" class="p-4 bg-light border rounded">
    {% csrf_token %}

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="id_city">City</label>
        {{ form.city }}
      </div>
      <div class="col-md-6">
        <label for="id_location">Location</label>
        {{ form.location }}
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Area (sq ft)</label>
        {{ form.area }}
      </div>
      <div class="col-md-6">
        <label>Price (₹)</label>
        {{ form.price }}
      </div>
     
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Contact Name</label>
        {{ form.contact_name }}
      </div>
      <div class="col-md-6 ">
        <label>Contact Number</label>
        {{ form.contact_number }}
      </div>
    </div>
    <div class="row mb-3">
    <div class="col-md-6">
      <label for="id_owner_name">I am</label>
      {{ form.owner_name }}
    </div>
    <div class="col-md-6">
      <label for="id_property_type">Property Type</label>
      {{ form.property_type }}
    </div>
  </div>

    <div class="mb-3">
      <label>Description</label>
      {{ form.description }}
    </div>

    <div class="mb-3">
      <label>Upload New Images:</label>
      <input type="file" name="images" multiple accept="image/*" class="form-control">
    </div>

    {% if lease.images.all %}
      <div class="mb-3">
        <strong>Existing Images:</strong><br>
        <div class="row">
          {% for img in lease.images.all %}
            <div class="col-md-3 text-center mb-3">
              <img src="{{ img.image.url }}" class="img-fluid rounded shadow" style="height: 150px; object-fit: cover;">
              {% comment %} <form method="POST" action="{% url 'delete_lease_image' img.id %}" class="mt-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
              </form> {% endcomment %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</div>
{% endblock %}
